#pp {
    border-radius: 800px;
    padding: 20px;
}

.tableau {
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.motivation {
    background-color: aliceblue;
    width: 1000px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 30px;
    border-radius: 50px;
    border: 4px double black;
}

.englobe {
    width: 1050px;
    height: 250px;
    padding: 50px;
    margin: 0 auto;
    border-radius: 50px;
    border: 6px solid rgb(209, 20, 155);
}




.lettre {

    margin-top: 10px;
    border-top: 50px solid black;
    border-bottom: 10px double blue;
}


.comp1 {
    text-align: center;
    background-color: rgb(193, 199, 125);
    padding: 0.5%;
    border-radius: 75px;
    border: 10px double rgb(1, 1, 1)
}

.dip1 {
    text-align: center;
    background-color: rgb(193, 199, 125);
    padding: 0.5%;
    border-radius: 75px;
    border: 10px double rgb(1, 1, 1);
}

.lang1 {
    text-align: center;
    background-color: rgb(193, 199, 125);
    padding: 0.5%;
    border-radius: 75px;
    border: 10px double rgb(1, 1, 1);
}

.passions {
    text-align: center;
    border-radius: 75px;
    border: double blue;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    p {
        color: rgb(0, 0, 0);
    }
}

.motiv {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(114, 118, 118);
    border-radius: 75px;
    border: 10px double rgb(1, 1, 1)
}

#contact {
    text-align: center;
    border-radius: 75px;
    border: 10px double rgb(1, 1, 1);
}

#contactemoi,
#passions,
.aligncenter,
#moodle,
.debut {
    text-align: center;
}





#art {
    text-align: center;
    font-size: 25px;
    text-decoration-style: dashed;
}

#fond {
    border-radius: 100%;
    border-bottom: double rgb(183, 33, 158);
    border-top: double rgb(183, 33, 158);
    background-color: rgb(162, 163, 163);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}


